# ==========================================
# AayuCare Frontend - Environment Variables
# ==========================================

# --- Environment ---
EXPO_PUBLIC_NODE_ENV=development

# --- API Endpoints ---
# Local API URL (Strictly required for development)
# For Android emulator: http://[IP_ADDRESS]/api
# For iOS simulator / Web: http://localhost:5000/api
# For physical device: http://[IP_ADDRESS]/api
# To find your local IP quickly and replace localhost This is terminal in run : [ipconfig | Select-String "IPv4"] 
EXPO_PUBLIC_API_BASE_URL=http://localhost:5000/api

# Production API URL (Required for production builds)
EXPO_PUBLIC_API_BASE_URL_PROD=https://api.aayucare.com/api

# --- Features & Debugging ---
EXPO_PUBLIC_DEBUG_MODE=true
EXPO_PUBLIC_VERBOSE_LOGGING=true

# --- Analytics & Tracking (Optional) ---
# EXPO_PUBLIC_ENABLE_ERROR_TRACKING=false
# EXPO_PUBLIC_SENTRY_DSN=
# EXPO_PUBLIC_ENABLE_ANALYTICS=false
